.main {
  &__container {
    width: 100%;
    display: flex;
    height: 93vh;
    overflow: hidden;
  }
  &__section-container {
    overflow-y: scroll;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    height: 100%;
    .stats {
      display: flex;
      justify-content: space-between;
      &__item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.8rem 1rem;
        border: 2px solid var(--border-default);
      }
    }
    .revenue-toggle_chart {
      width: 100%;
      display: flex;
      gap: 2rem;
      flex-direction: column;
      .chart {
        height: 250px;
        margin-right: auto;
        border: 4px solid var(--border-default);
      }
      .best__seller {
        &-container {
          padding: 1rem;
          width: 100%;
          // height: 40vh;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          border: 2px solid var(--border-default);
        }
        &-headers {
          display: flex;
          justify-content: space-between;
        }
        &-data {
          display: flex;
          flex-direction: column;
          // justify-content: space-between;
          gap: 1rem;
          height: 100%;
        }
        &-row-item {
          display: flex;
          justify-content: space-between;
          padding: 1rem 0;
        }
      }
    }
  }
}
