.form {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  &__container {
    margin: 0 auto;
    padding: 2.4rem 2rem;
    border: 4px solid gray;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
  &__title {
    justify-content: center;
    font-size: 2rem;
    gap: 1rem;
    font-weight: lighter;
    align-items: center;
    display: flex;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    .error__handler {
      height: 60px;
    }
    button,
    input {
      width: 100%;
      padding: 1rem;
      border: 2px solid gray;
      outline: none;
    }
    button {
      &:hover {
        background-color: blue;
        color: white;
      }
    }
  }
}
